<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{#if this.page.data.title }}{{ this.page.data.title }} - {{/if}}{{site.title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

    <meta name="description" content="Ideas and innovation company" />
    <meta name="keywords" content="AKQA, ideas, innovation{{#if this.page.data.title }}, {{ this.page.data.title }}{{/if}}" />

    <meta property="og:title" content="{{#if this.page.data.title }}{{ this.page.data.title }} - {{/if}}{{site.title}}" />
    <meta property="og:description" content="AKQA helps brands to dramatically improve their business performance through innovation." />
    <meta property="og:image" content="http://akqa.com/assets/img/share.png" />

    <meta name="robots" content="NOODP" />

    <link rel="dns-prefetch" href="//www.google-analytics.com" />

    
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/css/main-ie.css"><![endif]-->
    <!--[if gt IE 8]><!--><!-- build:css assets/css/main.min.css -->
    <link href="assets/css/main.css" rel="stylesheet">
    <!-- endbuild --><!--<![endif]-->
    {{#if this.page.data.css}}
    <link rel="stylesheet" href="{{ this.page.data.css }}">
    {{/if}}

    <!-- build:js assets/js/modernizr.min.js -->
    <script src="assets/js/modernizr.js"></script>
    <!-- endbuild -->

</head>

<body>

    <header class="header">

    </header>
